@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@100;300;400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #EDEDED;
}

header{
	height: 100vh;
	width: 100vw;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

h1{
	font-family: "Grenze";
	font-style: normal;
	font-weight: 300;
	font-size: 6rem;
  	line-height: 6rem;
	color: #5A5A5A;
}

h2{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 100;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

p{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.3rem;
}

.logo{
	height: 250px;
}